html, body{
    margin: 0;
    padding: 0;
    height: auto;
}
.drophead {
    font-style: italic;
}
.author-date {
    display: flex;
    justify-content: space-between;
}
.news-outlet {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
hr{
    color: #257abf;
}
dialog{
    width: 80%;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding:0;
}
dialog::backdrop {
    background-color: rgb(0,0,0,0.5);
}
.cabecera-articulo a{
    outline: none;
    box-shadow: none;
}
.cabecera-articulo a::focus{
    outline: none;
    box-shadow: none;
}
.contenido-articulo{
    padding: 10px;
}
.container{
    padding: 0;
}