body{
    background: #ececec;
}
.box-area{
    width: 930px;
}
.text-white{
    font-weight: 600;
}
.text-lg-center{
    font-weight: 700;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
