/* user-dashboard.css */
body {
    background-color: #f0f2f5; /* Fondo claro para el dashboard */
    color: #333;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
}

.user-icon {
    width: 30px; /* Tamaño del ícono de usuario */
    height: 30px; /* Tamaño del ícono de usuario */
    border-radius: 50%; /* Redondea el ícono de usuario */
}

.card {
    border-radius: 10px; /* Bordes redondeados para las tarjetas */
}

.card-title {
    font-size: 1.25rem; /* Tamaño del título de la tarjeta */
}

footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #f8f9fa; /* Color del texto para el enlace activo */
    background-color: #343a40; /* Fondo del enlace activo (opcional) */
}