:root {
    font-family: Arial, sans-serif !important;
}
.customized-timeline .border-circle{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-button:focus, .p-button:active {
    outline: none;
    box-shadow: none;
}

.editing-input{
    display: none;
}

:host ::ng-deep .p-card .editing-active{
    display: inline-block !important;
}
