<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand"><img src="./assets/imagenes/Chasky_News__3_-removebg-preview.png" alt="Logo Chasky News" class="logo-chasky"> Chaskynews</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user-dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/news">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Configuración</a>
                </li>
            </ul>
        </div>
        <div class="dropdown ms-3">
            <a class="btn btn-secondary dropdown-toggle"  role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                {{usuario?.nombre}}
                <img src="./assets/imagenes/user.png.jpg" alt="Usuario" class="user-icon">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-datos">Ver perfil</a></li>
                <li><a class="dropdown-item" routerLink="/inicio-sesion" (click)="onLogout()">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-center">
    <div class="row">
        <div class="col-2">
            <!-- Espacio vacío a la izquierda -->
        </div>
        <div class="col-8 main-content">
            <h5><i class="fa-solid fa-filter"></i>Filtros</h5>
                <div class="container mt-4 mb-4 justify-content-center align-items-center">
                    <form role="search" class="d-flex" id="barraBusqueda" (ngSubmit)="filtrarNoticias()">
                        <input type="text" class="form-control me-2 d-flex" placeholder="Ingrese un títular" aria-label="Search" name="titularBuscar" [(ngModel)]="titularBuscar">
                        <button class="btn-primary btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            <!-- Área de filtros -->
            <div id="filter-area">
                <form id="filters-form" (ngSubmit)="filtrarNoticias()">
                    <div class="row">
                        <div class="col-2">
                            <label for="filter-category" class="form-label">Categoría</label>
                            <select id="filter-category" class="form-select" [(ngModel)]="categoriaBuscar" name="categoriaBuscar">
                                <option value=""></option>
                                <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
                            </select>   
                        </div>
                        <div class="col-2">
                            <label for="filter-region" class="form-label">País</label>
                            <input type="text" class="form-control" id="filter-region" [(ngModel)]="paisBuscar" name="paisBuscar">
                        </div>
                        <div class="col-2">
                            <label for="filter-author" class="form-label">Dominio</label>
                            <input type="text" id="filter-author" class="form-control" [(ngModel)]="dominioBuscar" name="dominioBuscar">
                        </div>
                        <div class="col-2">
                            <label for="filter-start-year" class="form-label">Año Inicio</label>
                            <input type="date" id="filter-start-year" class="form-control" [(ngModel)]="inicioAnoBuscar" name="inicioAnoBuscar">
                        </div>
                        <div class="col-2">
                            <label for="filter-end-year" class="form-label">Año Fin</label>
                            <input type="date" id="filter-end-year" class="form-control" [(ngModel)]="finAnoBuscar" name="finAnoBuscar">
                        </div>
                        <div class="col-2 mt-4">
                            <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
                        </div>
                    </div>
                </form>
            </div>
            
            <hr class="ms-2" style="flex: 1;">
            <p-toolbar *ngIf="toolbarVisible" styleClass="sticky-toolbar">
                <div class="p-toolbar-group-left">
                    <p-button icon="pi pi-times" (click)="cancelarSeleccion()" label="Cancelar"/>
                </div>
                <div class="p-toolbar-group-right">
                    <span>{{arrayTemporal.length}} noticias seleccionadas</span>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalLinea" (click)="agregarNoticiasTimeline()"><i class="fa-solid fa-check"></i> Confirmar</button>
                </div>
            </p-toolbar>

            <div class="row" id="news-cards-container">
                <!-- Las cards se agregarán aquí mediante JavaScript -->
                 <div class="col-md-4" *ngFor="let news of noticiasFiltradas">
                    <div class="card" (click)="openNewsModal(news)" (contextmenu)="selectedNews = news; cm.show($event)">
                        <img [src]="news.imagen" [alt]="news.titular" class="card-img-top">
                        <div class="card-content">
                            <h5 class="card-title">{{news.titular}}</h5>
                        </div>
                    </div>
                 </div>
            </div>

        </div>
        <div class="col-2">
            <!-- Espacio vacío a la derecha -->
        </div>
    </div>
</div>
<!--Menú de opciones-->
<p-contextMenu #cm [model]="items"></p-contextMenu>

<!--Modal del articulo-->
<dialog id="modal-articulo">
    <div class="article-container contenedor-articulo">
        <!--En este div va la cabecera del model, el lugar donde se muestra la imagen y la categoria-->
        <div class="container-fluid cabecera-articulo" id="cabecera" style="background-color: #257abf;">
        </div>     
        <div class="container-fluid article-container contenido-articulo" id="cuerpo">
        <!--En este div va el contenido del artículo en sí:  Portal original, titular, subtitulo, autor, fecha de publicación y cuerpo-->
        </div>
    </div>
</dialog>

<!--Modal de selección de línea de tiempo-->
<div class="modal fade" id="modalLinea" tabindex="-1" aria-labelledby="modalLineaModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Escoja una línea de tiempo</h5>
            </div>
            <div class="modal-body">
                <div *ngIf="!timelines?.length">
                    <h3 class="text-center">No tiene líneas de tiempo registradas</h3>
                </div>
                <div class="contenedor-timelines" *ngIf="timelines?.length">
                <div class="contenedor-timelines">
                    <p-card *ngFor="let timeline of timelines" [header]="timeline.nombre" [subheader]="timeline.fecha_ultimaModificacion" [style]="{width: '240px'}" (click)="sendData(timeline.id.toString())" data-bs-dismiss="modal"> 
                        <ng-template pTemplate="header">
                            <img [src]="timeline.imagenPreview" alt="Línea de tiempo">
                        </ng-template>
                    </p-card>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal que muestra los datos del usuario-->
<div id="modal-datos" class="modal-fade" tabindex="-1" aria-labelledby="modalDatosUsuario" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDatosLabel">Tus datos</h5>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group item">
              <div class="contenedor-datos">
                <div class="d-flex justify-content-between">
                  <div>ID de usuario: </div>
                  <div>{{usuario?.id}}</div>
                </div>
              </div>
            </li>
            <li class="list-group item">
              <div class="contenedor-datos">
                <div class="justify-content-between">
                  <div>Correo registrado: </div>
                  <div>{{usuario?.correo}}</div>
                </div>
              </div>
            </li>
            <li class="list-group item">
              <div class="contenedor-datos">
                <div class="justify-content-between">
                  <div>Método de pago: </div>
                  <div>{{usuario?.metodoPago}}</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

<footer>
    <div class="container text-center py-3">
        <p>&copy; 2024 Chaskynews. Todos los derechos reservados.</p>
    </div>
</footer>

